body{
  background-image: url(../Images/fonds.jpg);

}

#div1{
  background-color : white;
  float : right;
  margin-right: 19.2em;
  margin-top: 13.5em;
  width : 40%;
}

#img1{
  float : left;
  width : 20%;
  margin-top:11.5em;
  margin-left:12em;
}

#img2{
  width:50%;
  height : 20%;
}
#button1{
  float : right;
  margin-top:1.5em;
  margin-right:23em;
  width:5%;
  height:10%;

}

.div3{
  background-color: white;
  width: 64em;
  height: 10em;
  float: right;
  margin-right: 19.1em;
  margin-top: 0.5em;
}

.div4{
  background-color: white;
  width: 64em;
  height: 10em;
  float: right;
  margin-right: 19.1em;
  margin-top: 2.5em;
  margin-bottom: 2em;
}
