@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Body//////////////////////////////////////////////////*/

body{
	background-image: url(../Images/fonds.jpg);

}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Logo//////////////////////////////////////////////////*/

h1{
	text-align: center;
}

.logo{
	width:500px;
	height:100px;
	border-radius:30px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////SearchBar//////////////////////////////////////////////////*/

#searchBar{
	margin-left: 120px;
}

.bouton{
	border-radius:5em;
	background-color:black;
	color:white;
}

.champ {
    width: 60%;
    border-radius: 3em;
    margin-left: 15%;
    background-color:black;
    opacity:0.8;
    color:white
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Nav//////////////////////////////////////////////////*/

.cadre {
    color: white;
    padding-top: 1%;
    background-color: rgba(0,0,0,0.5);
    height: 2em;
    margin-top: 1%;
    border-radius: 1;
}

li {
	width: 5%;
	margin-left: 3%;
	margin-right: 1%;
	display: inline;
	border: rgb(28, 58, 72) solid 0.9em;
	background:rgb(28,58,72);
	opacity: 0.9;
	transition: border-radius 0.9s;
	transition: background-color 0.9s;
	transition: border 0.9s;
}

li:hover {
	background-color: rgb(8, 48, 53);
	border: rgb(8, 48, 53) solid 0.5em;
	border-radius:0.4em;
}

li a {
	text-decoration: none;
	color:white;
}

nav {
	text-align: center;
	color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////PAGE LIVRE//////////////////////////////////////////////*/

.bodyFrame{
	background-color: black;
	height: 100%;
	width: 100%
}

.divBooks{
	text-align: center;
	border-style: solid;
	border-width: 1.5px;
	background-color: white;
	height: 30%;
	width: 15%;
	margin-left: 7%;
	margin-top: 5%;
	float: left;
}

.imageBooks{
	height: 80%;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 2%;
	background-size: 100% 100%;
}
.divPageLivre{
	width: 90%;
	margin-left: 5%;
	height: 70em;
	background-color: rgba(255, 255, 255, 0.7);
}
.menuLivres{
	background-color: rgba(170, 170, 170, 0.3);
	line-height: 3em;
	width: 90%;
	height: 3em;
	text-align: center;
	margin-left: 5%;

}
.menuLivres a{
	text-decoration: none;
	color: white;
	text-align: center;
	float: left;
	margin-left: 11%;
	font-size: 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////ACHAT LIVRE//////////////////////////////////////////////*/

#divAchatLivre1{
  background-color : grey;
  opacity: 0.9;
  float : right;
  margin-right: 19.2em;
  margin-top: 13.5em;
  width : 40%;
}

#imgAchatLivre1{
  float : left;
  width : 20%;
  margin-top:11.5em;
  margin-left:12em;
}

#imgvote{
  width: 10%;
  height: 10%;
  float: left;
  margin-top: 0.4em;
  margin-left: 16.5em;
}

#imgmoyenne{
  width: 6%;
  height: 6%;
}

#imgAchatLivre2{
  width:50%;
  height:20%;
}

#buttonAchatLivre{
  float : right;
  margin-top:1em;
  margin-right:23em;
  margin-bottom: 1em;
  width:10em;
}

.divAchatLivre3{
  background-color: grey;
  opacity: 0.9;
  width: 64em;
  height: auto;
  float: right;
  margin-right: 19.1em;
  margin-top: 0.5em;
}

.divAchatLivre4{
  background-color: grey;
  opacity: 0.9;
  width: 64em;
  height: auto;
  float: right;
  margin-right: 19.1em;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////UTILISATEUR/////////////////////////////////////////////*/

.utilisateur{
  background-color: rgba(254,254,254, 0.8); /* Pour faire un fond blanc avec opacity */
  width: 80%;
  height: 60%;
  margin-left: 10%;
}

.Param{
  color: black;
}

.pu{
  margin-left: 3%;
}

.avatar{
  width: 20%;
  float: left;
  margin-top: 2.5%;
  margin-right: 5%;
}

.holder{
  height: 40%;
  width: 50%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Connexion//////////////////////////////////////////////////*/

.connexion{
  width: 70%;
  background-color: white;
}

.connect{
  margin-left: 20%;
  background-color: #3cb179;
}

.label{
  margin-left: 3%;
}

<<<<<<< HEAD

=======
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////Accueil//////////////////////////////////////////////*/


.rewiew{
    background-color: rgba(254,254,254, 0.8);
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////BestSeller//////////////////////////////////////////////*/

.divPageBestSeller{
	width: 90%;
	margin-left: 5%;
	height: 70em;
	background-color: rgba(255, 255, 255, 0.7);
}

.divBestSeller{
	text-align: center;
	border-style: solid;
	border-width: 1.5px;
	background-color: white;
	height: 30%;
	width: 15%;
	margin-left: 7%;
	margin-top: 5%;
	float: left;
}

.imageBestSeller{
	height: 80%;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 2%;
	background-size: 100% 100%;
}
>>>>>>> bed42a68ba9c859d85c5fee92ae40a6a30e253ad
