@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Body//////////////////////////////////////////////////*/

body{
	background-image: url(../Images/fonds.jpg);
  font-family: 'ABeeZee', sans-serif;
  color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Logo//////////////////////////////////////////////////*/

h1{
	text-align: center;
}

.logo{
	width:500px;
	height:100px;
	border-radius:30px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////SearchBar//////////////////////////////////////////////////*/

#searchBar{
	margin-left: 120px;
}

.bouton{
	border-radius:5em;
	background-color:black;
	color:white;
}

.champ {
    width: 60%;
    border-radius: 3em;
    margin-left: 15%;
    background-color:black;
    opacity:0.8;
    color:white
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Nav//////////////////////////////////////////////////*/

.cadre {
    color: white;
    padding-top: 1%;
    background-color: rgba(0,0,0,0.5);
    height: 2em;
    margin-top: 1%;
    border-radius: 1;
}

li {
	width: 5%;
	margin-left: 3%;
	margin-right: 1%;
	display: inline;
	border: rgb(28, 58, 72) solid 0.9em;
	background:rgb(28,58,72);
	opacity: 0.9;
	transition: border-radius 0.9s;
	transition: background-color 0.9s;
	transition: border 0.9s;
}

li:hover {
	background-color: rgb(8, 48, 53);
	border: rgb(8, 48, 53) solid 0.5em;
	border-radius:0.4em;
}

li a {
	text-decoration: none;
	color:white;
}

nav {
	text-align: center;
	color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Index/////////////////////////////////////////////////*/

.rewiew{
  background-color: rgba(0,55,72, 0.8);
  color: white;
  text-align: center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Header/////////////////////////////////////////////////*/

.co{
  float: right;
  margin-right: 1em;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////PAGE LIVRE//////////////////////////////////////////////*/

.divBooks{
	text-align: center;
	background-color: grey;
  opacity: 0.8;
	height: 30%;
	width: 15%;
	margin-left: 7%;
	margin-top: 5%;
	float: left;
}

.imageBooks{
	height: 80%;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 2%;
	background-size: 100% 100%;
}
.divPageLivre{
	width: 90%;
	margin-left: 5%;
	height: 60em;
	background-color: rgba(0,55,72, 0.8);
}
.menuLivres{
	background-color: rgba(170, 170, 170, 0.3);
	line-height: 3em;
	width: 90%;
	height: 3em;
	text-align: center;
	margin-left: 5%;

}
.menuLivres a{
	text-decoration: none;
	color: white;
	text-align: center;
	float: left;
	margin-left: 11%;
	font-size: 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////ACHAT LIVRE//////////////////////////////////////////////*/

#divAchatLivre1{
  background-color : rgba(0,55,72, 0.8);
  float : right;
  margin-right: 20.4%;
  margin-top: 14.5%;
  width : 40%;
}

#imgAchatLivre1{
  float : left;
  width : 20%;
  margin-top: 12.5%;
  margin-left: 13%;
}

#imgvote{
  width: 10%;
  height: 10%;
  float: left;
  margin-top: 0.6%;
  margin-left: 18%;
}

#imgmoyenne{
  width: 6%;
  height: 6%;
}

#imgAchatLivre2{
  width:50%;
  height:20%;
}

#prix_al{
  background-color: rgba(0,55,72, 0.8);
  text-align: center;
  width: 4%;
  float: left;
  margin-top: 1%;
  margin-left: 11.6%;
}

#buttonAchatLivre{
  float : right;
  margin-top: 1%;
  margin-right: 20.4%;
  width: 8%;
}

.divAchatLivre3{
  background-color: rgba(0,55,72, 0.8);
  opacity: 0.9;
  width: 66.7%;
  height: auto;
  float : left;
  margin-left: 13%;
  margin-top: 1%;
}

.divAchatLivre4{
  background-color: rgba(0,55,72, 0.8);
  opacity: 0.9;
  width: 66.7%;
  height: auto;
  float: left;
  margin-left: 13%;
  margin-top: 1%;
}

#footer_al{
float: left;
margin-left: 10%;
margin-bottom: 1%;
color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////UTILISATEUR/////////////////////////////////////////////*/

.utilisateur{
  /*background-color: rgba(254,254,254, 0.8); /* Pour faire un fond blanc avec opacity */
  width: 80%;
  /*height: 100%; */
  margin-left: 10%;
  background-color: rgba(0,55,72, 0.8);
  color: white;
  border-color: black;
  font-family: 'ABeeZee', sans-serif;
}

.Param{
  color: white;
  width: 20%;
}

.pu{
  margin-left: 3%;
}

.avatar{
  width: 20%;
  float: left;
  margin-top: 2.5%;
  margin-right: 5%;
}

.holder{
  height: 10%;
  width: 15%;
}

.dylan{
  height: 10%;
  width: 15%;
}

.favoris{
  float: right;
  width: 30%;
  background-color: rgba(0,55,72, 0.8);

}

.param{
  float: left;
  width: 50%;
}

.favco{
  width: 100%;
}

.comm{
  border-radius: 10%;
  background-color:  #3cb179;
  border-color:  #3cb179;
}

.h1{
  text-align: left;
}

.lastAchat{
  background-color: rgba(0,55,72, 0.8);
  margin-top: 20%;
}

.blanc{
  background-color: red;
  width: 80%;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Connexion//////////////////////////////////////////////////*/

.connexion{
  width: 70%;
  background-color: white;
}

.connect{
  margin-left: 20%;
  background-color: #3cb179;
}

.label{
  margin-left: 3%;
}
<<<<<<< HEAD
=======

<<<<<<< HEAD

=======
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////BestSeller//////////////////////////////////////////////*/

.divPageBestSeller{
	width: 90%;
	margin-left: 5%;
	height: 70em;
	background-color: rgba(255, 255, 255, 0.7);
}

.divBestSeller{
	text-align: center;
	height: 30%;
	width: 20%;
	margin-left: 15%;
	margin-top: 5%;
	float: left;
}

.imageBestSeller{
	height: 100%;
	width: 100%;
}
.ligne{
  color: white;
  width: 90%;
	margin-left: 5%;
  float: left;
	background-color: red;
}

.erreur {
	color:red;
}

/*/////////////////////////////////Footer/////////////////////////////////////////////////*/

footer{
  color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

>>>>>>> bed42a68ba9c859d85c5fee92ae40a6a30e253ad
>>>>>>> d08e8e2c149218bf87814bf7e747ab641581a2e4
