@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Body//////////////////////////////////////////////////*/

body{
	background-image: url(Images/fonds.jpg);
  font-family: 'ABeeZee', sans-serif;
  color: white;
}

.noDecoration {
  text-decoration: none;
  color:white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Logo//////////////////////////////////////////////////*/

h1{
	text-align: center;
}

.logo{
	width:500px;
	height:100px;
	border-radius:30px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////SearchBar//////////////////////////////////////////////////*/

#searchBar{
	margin-left: 120px;
}

.bouton{
	border-radius:5em;
	background-color:black;
	color:white;
}

.champ {
    width: 60%;
    border-radius: 3em;
    margin-left: 15%;
    background-color:black;
    opacity:0.8;
    color:white
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Nav//////////////////////////////////////////////////*/

.cadre {
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: auto;
    margin-top: 1%;
    border-radius: 1;
}

li {
	width: auto;
  display: inline-block;
  height: auto;
	margin-left: 3%;
	border: rgb(28, 58, 72) solid 0.9em;
	background:rgb(28,58,72);
	opacity: 0.9;
	transition: border-radius 0.9s;
	transition: background-color 0.9s;
	transition: border 0.9s;
}

li:hover {
	background-color: rgb(8, 48, 53);
	border: rgb(8, 48, 53) solid 0.5em;
	border-radius:0.4em;
}

li a {
	text-decoration: none;
	color:white;
}

nav {
	text-align: center;
	color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Index/////////////////////////////////////////////////*/

.rewiew{
  background-color: rgba(0,55,72, 0.8);
  color: white;
  text-align: center;
  width: 90%;
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-style: groove;
  margin-top: 2%;
}

#footerIndex{
  position: absolute;
  bottom: 0;
  margin-top: 2em;
  margin-left: 1em;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Header/////////////////////////////////////////////////*/

.co{
  float: right;
  margin-right: 1%;
  background-color: #00a4d3;
  color: white;
  border-color: #00a4d3;
  border-radius: 5px;
}

#form{
  float: right;
  margin-right: 1%;
}

.boutonco{
  background-color: #00a4d3;
  color: white;
  border-color: #00a4d3;
  border-radius: 5px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////PAGE LIVRE//////////////////////////////////////////////*/

.divBooks{
	text-align: center;
	background-color: grey;
  opacity: 0.8;
	height: 30%;
	width: 15%;
	margin-left: 7%;
	margin-top: 5%;
  display: inline-block;
}

.imageBooks{
	height: 80%;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 2%;
	background-size: 100% 100%;
}
.divPageLivre{
	width: 90%;
  height: auto;
  overflow: auto;
	margin: auto;
	background-color: rgba(0,55,72, 0.8);
  border-width: 2px;
  border-style: groove;
  padding: 50px 0px 50px 0px;
  margin-top: 2%;
}
.menuLivres{
	background-color: rgba(170, 170, 170, 0.3);
	line-height: 3em;
	width: 90%;
	height: 3em;
	text-align: center;
	margin-left: 5%;
  border-width: 2px;
  border-style: groove;
  margin-bottom: 1%;
  margin-top: 1%;
}

.menuLivres a{
	text-decoration: none;
	color: white;
	text-align: center;
	float: left;
	margin-left: 11%;
	font-size: 20px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////ACHAT LIVRE//////////////////////////////////////////////*/

#divAchatLivre1{
  background-color : rgba(0,55,72, 0.8);
  float : right;
  margin-right: 20.4%;
  margin-top: 14.5%;
  width : 40%;
  height: auto;
  overflow: auto;
  border-width: 2px;
  border-style: groove;
}

#imgAchatLivre1{
  float : left;
  width : 20%;
  margin-top: 12.5%;
  margin-left: 13%;
  border-width: 2px;
  border-style: groove;
}

#imgvote{
  width: 10%;
  height: 10%;
  float: left;
  margin-top: 0.6%;
  margin-left: 18%;
}

#imgmoyenne{
  width: 6%;
  height: 6%;
}

#imgAchatLivre2{
  width:50%;
  height:20%;
}

#prixal{
  background-color: rgba(0,55,72, 0.8);
  text-align: center;
  width: 4%;
  float: left;
  margin-top: 2%;
  margin-left: 11.6%;
  border-width: 2px;
  border-style: groove;
}

#buttonAchatLivre{
  float : right;
  margin-top: 1%;
  margin-right: 20.4%;
  width: 8%;
}

.divAchatLivre3{
  background-color: rgba(0,55,72, 0.8);
  opacity: 0.9;
  width: 66.7%;
  height: auto;
  overflow: auto;
  float : left;
  margin-left: 13%;
  margin-top: 1%;
  border-width: 2px;
  border-style: groove;
}

.divAchatLivre4{
  background-color: rgba(0,55,72, 0.8);
  opacity: 0.9;
  width: 66.7%;
  height: auto;
  overflow: auto;
  float: left;
  margin-left: 13%;
  margin-top: 1%;
  border-width: 2px;
  border-style: groove;
}

#footeral{
float: left;
margin-left: 10%;
margin-bottom: 1%;
color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////UTILISATEUR/////////////////////////////////////////////*/

.utilisateur{
  /*background-color: rgba(254,254,254, 0.8); /* Pour faire un fond blanc avec opacity */
  width: 90%;
  height: auto;
  overflow: auto;
  margin : auto;
  background-color: rgba(0,55,72, 0.8);
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: groove;
  margin-top: 2%;
}

.Param{
  color: white;
  width: 10%;
}

.pu{
  margin-left: 3%;
}

.avatar{
  width: 10%;
  float: left;
  margin-top: 2.5%;
  margin-right: 5%;
}

.holder{
  height: 10%;
  width: 15%;
}

.dylan{
  height: 10%;
  width: 20%;
}

.favoris{
  float: right;
  width: 35%;
  height: auto;
  overflow: auto;
  /*background-color: rgba(0,55,72, 0.8);*/
  background-color: red

}

.param{
  float: left;
  width: 50%;
}

.favco{
  width: 100%;
}

.comm{
  border-radius: 10%;
  background-color:  #3cb179;
  border-color:  #3cb179;
}

.h1{
  text-align: left;
}

.lastAchat{
  background-color: rgba(0,55,72, 0.8);
  margin-top: 1%;
}

.blanc{
  background-color: red;
  width: 80%;
}

.centrer {
  text-align: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////Connexion/Inscription//////////////////////////////////////////////////*/

.DivCon_Insc{
  /*background-color: rgba(254,254,254, 0.8); /* Pour faire un fond blanc avec opacity */
  width: 90%;
  margin: auto;
  background-color: rgba(0,55,72, 0.8);
  color: white;
  border-color: white;
}

.titreDiv{
  text-align: center;
  margin-bottom: 2%;
  background-color: #3cb179;
}

.divTitreDiv{
  width:30%;
  margin:0 auto;
}

.label{
  margin-left: 3%;
}

.tabEspaceInscri{
  margin-left: 3%;
}

.tableauFormulaire{
  margin:0 auto;
  width:80%;
}

.btnAlign{
  text-align: center;
}

.btnCouleur {
  background-color: #00a4d3;
  color: white;
  border-color: #00a4d3;
  border-radius: 5px;
}

.erreur {
   /*background-color: rgba(254,254,254, 0.8); /* Pour faire un fond blanc avec opacity */
  width: 80%;
  /*height: 100%; */
  margin-left: 10%;
  background-color: #f4433675;
  color: white;
  border-color: black;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
}

.confirmation {
   /*background-color: rgba(254,254,254, 0.8); /* Pour faire un fond blanc avec opacity */
  width: 80%;
  /*height: 100%; */
  margin-left: 10%;
  background-color: #8bc34a8a;
  color: white;
  border-color: black;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
}

.note {
  font-size: small;
  text-align: center;
}

.textareaIns {
  width: 167px;
  height: 17px;
}

.italique {
  font-style: italic;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////BestSeller//////////////////////////////////////////////*/

.divPageBestSeller{
	width: 90%;
  height: auto;
  overflow: auto;
	margin-left: 5%;
  margin-top: 2%;
	background-color: rgba(0,55,72, 0.8);
  border-width: 2px;
  border-style: groove;
}

.divBestSeller{
	height: 25%;
	width: 15%;
  float: left;
}

.divBestSellers{
  height: 25%;
  width: 15%;
  float: right;
  margin-right: 10%;
  margin-top: -7.5%;
}

.imageBestSeller{
  height: 100%;
  width: 100%;
  margin-left: 5%;
}
.ligne{
  margin-top: 3%;
  color: white;
  width: 90%;
	margin-left: 10%;
}

.resumBest{
  float: right;
  margin-right: 10%;
  width: 70%;
  text-align: justify;
}

.resumBestGauche{
  float: left;
  width: 70%;
  text-align: justify;
}

.texteBestSeller{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 70%;
  float: left;
  margin-left: 5%;
}
.texteBestSeller2{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 70%;
  float: left;
  margin-right: 5%;
}
.break{
  clear: both;
}


/*/////////////////////////////////Footer/////////////////////////////////////////////////*/

footer{
  color: white;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////A LA UNE////////////////////////////////////////////////*/

.box{
  width: 90%;
  height: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,55,72, 0.8);
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: groove;
}

.actu{
  width: 45%;
  height: auto;
  background-color: rgba(0,55,72, 0.8);
  border-color: white;
  float: left;
  margin-top: 5%;
  margin-left: 2%;
}
.actu2{
  width: 45%;
  height: auto;
  background-color: rgba(0,55,72, 0.8);
  border-color: white;
  float: left;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.lorem{
  width: 40%;
  height: auto;
  background-color: rgba(0,55,72, 0.8);
  border-color: white;
  float: right;
  margin-top: 5%;
  margin-right: 5%;
}

.footerune{
  float: left;
  margin-left: 10%;
  margin-bottom: 1%;
  color: white;
}
.holder{
  height: 15em;
  width: 30em;
}


/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////derniers ajouts/////////////////////////////////////*/

.divDerniersAjouts{
  margin: auto;
  height: auto;
  overflow: auto;
  width: 90%;
  background-color:rgba(0,55,72, 0.8);
  border-color: white;
  border-width: 2px;
  border-style: groove;
}

.divNouv{
  width: 20%;
  margin-bottom: 2%;
  background-color: #3cb179;
}

.infoLivre{
  background-color: rgba(0,55,72, 0.8);
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.img{
  width: 30%;
  margin-left: 4%;
  padding-bottom: 5%;;
}

.holderAjout{
  width: 70%;
}

.resumAjout{
  width: 60%;
  float: right;
  margin-right: 8%;
}

.resum{
text-align:justify;
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////PageCommandes//////////////////////////////////////////////*/

.pageCommandes{
  width: 90%;
  margin: auto;
  overflow: auto;
  height: auto;
  background-color: rgba(0,55,72, 0.8);
  border-width: 2px;
  border-style: groove;
}
.panier{
  width: 4%;
  float: right;
}
.commande{
  float: right;
  margin-top: 2%;
  background-color: #00a4d3;
  border-color: #00a4d3;
  color: white;
}

/*//////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////PagePanier//////////////////////////////////////////////////*/

.pagePanier{
  width: 90%;
  margin: auto;
  height: auto;
  overflow: auto;
  background-color: rgba(0,55,72, 0.8);
  border-width: 2px;
  border-style: groove;
}
.panier{
  width: 5%;
  float: right;
}
.commande{
  float: right;
  margin-top: 2%;
  background-color: #00a4d3;
  border-color: #00a4d3;
  color: white;
}

/*/////////////////////////////////////CoRapide//////////////////////////////////////////////////*/
.erreurRap{
    width: 100%;
    background-color: #f4433675;
    color: white;
    border-color: black;
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
    display: inline-block;
}

.btnDeco {
    float: right;
    /*margin-top: 1%;*/
    background: #285858;
    border-color: #285858;
    color: white;
}

.floatRight{
  float:right;
}

.clear{
  clear: both;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////Cookies/Mentions légales //////////////////////////////////////////////////*/

.cookies {
   width: 80%;
  /*height: 100%; */
  margin-left: 10%;
  background-color: rgba(0,55,72, 0.8);
  color: white;
  border-color: white;
  padding: 1%;
  margin-top: 2%;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

.contact {
  width: 90%;
  margin: auto;
  background-color: rgba(0,55,72, 0.8);
  color: white;
  border-color: white;
  margin-top: 2%;
}

.mailContact{
  width: 20em;
  height: 8em;
}

.divContact {
  margin:0 auto;
  width:10%;
}
